* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: grey;
    
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
a{
    color: inherit;
    text-decoration: none;
}
#bg-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.h2 {
    text-align: center;
    margin-bottom: 15px;
}
.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.btn {
    padding: 8px 15px;
    background-color: #2a7e19;
    color: #fff;
    border: none;
    cursor: pointer; 
    width: 30%;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 20px;
    
}

header {
    background-color:lightgreen ;
    color: black;
}

header h1 {
    float: left;
    padding: 5px 0px;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 20px 0 20px 15px;
    display: inline-block;

}


.container {
    width: 80%;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}
.section {
    padding: 25px 0;
}
.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 15px 0 25px 0;
}

.tbl {
    width: 100%;
    border-collapse: collapse;
}

.tbl tr {
    height: 30px;
}

.tbl tr td {
    padding: 5px 10px;
}

p{
    color: #111;
    font-weight: 600;
    font-size: 15px;
}
 
p a {
    text-decoration: none;
    color: #6c5ce7;
}

footer {
    padding: 25px 0;
}



